{% extends 'base.html.twig' %}

{% block title %}Keyword index{% endblock %}

{% block body %}
    <h1>Mots clés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword.id }}</td>
                <td>{{ keyword.text }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun mot clé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
