{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1>Créer un nouveau lien</h1>

    {{ include('link/_form.html.twig') }}

    <a href="{{ path('app_admin_dashboard') }}">Retour vers la liste</a>
{% endblock %}
