{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1>Créer un nouveau lien</h1>

    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-warning">Retour vers la liste</a>

    {{ include('link/_form.html.twig') }}
{% endblock %}
