{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Editer un utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-warning">Retour vers la liste</a>
{% endblock %}
