{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un nouveau utilisateur</h1>

    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-warning">Retour vers la liste</a>

    {{ include('user/_form.html.twig') }}
{% endblock %}
